$primary: #6895cf;
$secondary: #5bd84f;
$enable-gradients: false;
$enable-rounded: false;
$enable-shadows: false;
$google_font_name: "Alegreya";
$google_font_family: "Alegreya:300,300i,400,400i,700,700i";
